version: '2'
services:
  nginx:
    container_name: nginx
    image: "nginx:alpine"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./etc/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./etc/cert:/etc/nginx/cert
      - /etc/localtime:/etc/localtime
    network_mode: "bridge"
    depends_on:
      - blog
    links:
      - blog:blog
  redis:
    container_name: redis
    image: "redis:4"
    ports:
      - "6379:6379"
    volumes:
      - ./etc/redis.conf:/usr/local/etc/redis/redis.conf
      - /etc/localtime:/etc/localtime
    network_mode: "bridge"
    command: "redis-server /usr/local/etc/redis/redis.conf"
  mysql:
    container_name: mysql
    image: "mysql:5.7"
    ports:
      - "3306:3306"
    volumes:
      - /www/data/mysql-data:/var/lib/mysql
      - /etc/localtime:/etc/localtime
    network_mode: "bridge"
    environment:
      TZ: 'Asia/Shanghai'
      MYSQL_ROOT_PASSWORD: XNMveY4rnyxl
      MYSQL_ROOT_HOST: "%"
  blog:
    container_name: blog
    image: "zfming/php-pro:latest"
    volumes:
      - ./etc/blog.conf:/etc/nginx/conf.d/default.conf
      - /www/code/blog:/var/www/html
      - /etc/localtime:/etc/localtime
    network_mode: "bridge"
    depends_on:
      - mysql
      - redis
    links:
      - mysql:mysql
      - redis:redis